---
layout: layouts/base.njk
title: Patrick Elshen
---
<img src="img/patrick.jpg" class="photo">
<div class="name-div">
    <h1 class="name">Patrick</h1>
    <h1 class="name">Elshen</h1>
</div>
<h2 class="title">Full Stack Senior Software Developer</h2>
<h3 class="summary">With experience in Java, ASP.NET, Blazor and Angular.</h3>
<div class="text">
    <p>I am a full-stack developer with over five years experience building both public facing and business-focused applications. A Computer Science graduate from the University of Bath, in the past I have worked with Java, ASP.Net Core, AngularJS, Angular 2+, Apache, Tomcat and Azure amongst others. I am currently based in London, working in consultancy with C#/ASP.Net in various tech stacks, focusing on taking advantage of Azure.</p>
    <p>I am also a committed Christian, and an active member of my church in Kings Cross. I am passionate about seeing how technology intersects with my faith and am involved in <a href="http://kingdomcode.uk">Kingdom Code</a>, a community of Christians in the tech industry.</p>
</div>
<div class="social-links">
    <p>Find and contact me on:</p>
    <ul>
        <li>
            <a href="https://www.linkedin.com/in/patrick-elshen" title="LinkedIn" class="fab fa-linkedin"></a>
        </li>
        <li>
            <a href="https://twitter.com/pelshen" title="@pelshen" class="fab fa-twitter-square"></a>
        </li>
    </ul>
</div>